.what{
  position: relative;
  padding-top: 1rem;
  p{
    padding-top: 1rem;
  }
  .triangular{
    fill: $bge;
    transform: scalex(-1);
    transform: scaley(-1);
  }
  .svg{
    height: 60px;
    left: 0;
    width: 100%;
    position: absolute;
    bottom: 0%;
  }
}